.img-responsives {
    width: 100%;
    /* height: 400px; */
}
.imgdiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.investor-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    border: 1px solid #CA974B;
    width: 30%;
    border-radius: 10px;
    box-shadow: black;
    margin-top: 20px;
}

.sec-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #CA974B;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    margin: 20px;
    width: 100%;

}

.detail-col {

    margin-top: 10px;
    margin-bottom: 10px;

}

.mini-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #CA974B;
}

.mini-navbar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    list-style: none;
}

.transection-mian-row {
    border: 1px solid;
}

.col-border-rgt {
    border-right: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.col-heading {
    border-bottom: 1px solid;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .mini-navbar ulli */
.tooltip-btn {
    position: relative;
    /* display: inline-block; */
    /* padding: 10px 20px; */
    /* background-color: #007bff; */
    /* color: #fff; */
    /* border: none; */
    color: black;
    /* cursor: pointer; */
}

/* Style the tooltip */
.tooltip-btn::before {
    content: attr(data-tooltip);
    position: absolute;
    top: 100%;
    width: 130px;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    padding: 5px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

/* Show the tooltip on hover */
.tooltip-btn:hover::before {
    opacity: 1;
    visibility: visible;
}
.img-investor{
    height: 200px;
    width: 100%;
    background-size: cover; /* This ensures the image covers the entire container */
    background-position: center;
    /* object-fit: cover; */
    /* object-position: 5px; */
  }
  .detail-slide .carousel-item {

    height: 150px; /* Adjust the desired image height in pixels */
  }
  .detail-slide .carousel-item img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    /* object-fit: cover; */
    background-size: cover; /* This ensures the image covers the entire container */
    background-position: center;
    height: 100%;
     /* Adjust the desired image height in pixels */
  }
  .detail-row{
    background-color: rgb(212, 207, 201);
    padding: 20px;

  }
@media screen and (max-width: 768px) {
    .mini-navbar ul {
        flex-direction: column;
    }

    .col-heading {
        border: none;
        /* width: 100%; */
    }

    .col-detail {
        border-bottom: 1px solid black;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .investor-title {
        width: 90%;
    }
}