
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #324466;
  color: white;
}

.cards-main {
  height: 100%;
}
.holding-chart{
  display: flex;
  justify-content: center;
  align-items:center;
  /* width: 100% !important; */
 
}
.charts-asset-allocation{
width: 80%;
display: flex;
justify-content: center;
align-items:center;
}
.breadcrum-class {
  text-decoration: none;
  color: #324466;



}

.loader {
  animation: spin 1s infinite linear;
  border: solid 2vmin transparent;
  border-radius: 50%;
  border-right-color: #09f;
  border-top-color: #09f;
  box-sizing: border-box;
  height: 20vmin;
  left: calc(50% - 10vmin);
  position: fixed;
  top: calc(50% - 10vmin);
  width: 20vmin;
  z-index: 1;

  &:before {
    animation: spin 2s infinite linear;
    border: solid 2vmin transparent;
    border-radius: 50%;
    border-right-color: #3cf;
    border-top-color: #3cf;
    box-sizing: border-box;
    content: "";
    height: 16vmin;
    left: 0;
    position: absolute;
    top: 0;
    width: 16vmin;
  }

  &:after {
    animation: spin 3s infinite linear;
    border: solid 2vmin transparent;
    border-radius: 50%;
    border-right-color: #6ff;
    border-top-color: #6ff;
    box-sizing: border-box;
    content: "";
    height: 12vmin;
    left: 2vmin;
    position: absolute;
    top: 2vmin;
    width: 12vmin;
  }
}
.btn-login{
  background-color: aliceblue;
  color: #CA974B;
  border:#CA974B 1px solid;
}
.btn-login:hover{
  background-color: #CA974B;
  color: white;
}
.login-heading{
  color:#CA974B ;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
.profile-div{
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  /* padding: 2rem; */
  
}
.verification-form-div{
  /* background-color: #09f; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.change-pass-main-div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.change-pass-main-div h2{
  color: #CA974B;
}